<header>
  <nav
    class="navbar fixed-top justify-content-start text-light"
    aria-label="breadcrumb"
  >
  <svg class="mr-4 text-white">
    <use xlink:href="../../../assets/icons.svg#general-app-store"></use>
  </svg>
    <span class="navbar-brand">EG ClinicCare Documentation</span>
    <ol class="breadcrumb mb-0 mr-auto">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="templates">Templates</a></li>
    </ol>
    <span
      ><img class="user-avatar mr-3" src="../../../assets/avatar" alt="User avatar"/>Albert
      Zubkowicz</span
    >
  </nav>
</header>
