<div class="mb-4 row">
  <div class="col-12 d-flex align-items-end">
    <h1 class="d-inline-block mb-0 mr-5">Templates</h1>
    <ul class="d-inline-flex nav">
      <li class="nav-item mr-5 separator-horizontal"></li>
      <li class="nav-item mr-5">
        <a class="nav-link" routerLink="create" routerLinkActive="active"
          >Create</a
        >
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" href="#">Manage</a>
      </li>
    </ul>
  </div>
</div>
<div class="mb-4 row">
  <div class="col-12"><router-outlet></router-outlet></div>
</div>
